Products

<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="name">Назва</label>
        <input type="text" class="form-control" formControlName="name" id="Name" aria-describedby="Name" placeholder="Введіть назву">
    </div>
    <div class="form-group">
        <label for="price">Ціна</label>
        <input type="text" class="form-control" formControlName="price" id="Price" aria-describedby="Price" placeholder="Введіть ціну">
    </div>
    <button type="submit" class="btn btn-primary">Додати</button>
</form>
<br>
<table class="table">
    <thead>
        <tr>
            <td>ID</td>
            <td>Назва</td>
            <td>Ціна</td>
            <td>Дія</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let item of products'>
            <td>{{ item._id }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.price }}</td>
            <td>
                <button class="btn btn-danger" (click)="onDelete(item._id)">Видалити</button>
            </td>
        </tr>
    </tbody>
</table>